.chatspace {
  width: 100%;
  height: 100vh;
  position: relative;
}
.headchat {
  height: 80px;
  width: 100%;
  padding: 10px 50px;
  background-color: white;
  position: absolute;
  top:0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headchat img[id="photo"] {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 20px;
}
.headchat h5 {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.headchat span {
  color: #7E98DF;
  font-size: 14px;
}
.headchat img[id="menu"] {
  margin-left: auto;
}
.bodychat {
  width: 100%;
  position: relative;
  top: 80px;
  height: calc(100vh - 160px);
  padding: 20px 50px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.bodychat > div {
  max-width: 60%;
  width: auto;
  padding: 10px 30px;
  background-color: #7E98DF;
  color: white;
  margin: 5px;
  border-radius: 4px;
}
.left {
  margin-right: auto !important;
  border-top-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
}
.right {
  margin-left: auto !important;
  border-top-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  background-color: white !important;
  color: gray !important;
  position: relative;
}
.right::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid #6582d1;
  border-right: 2px solid #6582d1; 
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  top: 15px;
  right: 30px;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-color: white;
}
.right:hover::after {
  opacity: 1;
  box-shadow: 1px 1px 6px 8px #fff;
  cursor: pointer;
}
.right:hover > div.dropicon{
  top: 0;
  right: 0;
  position: absolute;
  width: 50%;
  height: 50%;
  z-index :2
}
.dropdownmenu {
  position: absolute;
  top: 30px;
  right: 36px;
  width: 100px;
  padding: 6px;
  background-color: #fff;
  box-shadow: 0px 0px 3px 0px #c3c4c5;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  z-index: 4;
}
.dropdownmenu p {
  margin: 3px auto;
  cursor: pointer;
}
.dropdownmenu hr {
  margin: 0
}
.chatinput {
  width: 100%;
  height: 80px;
  background-color: white;
  position: absolute;
  bottom: 0;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chatinput input {
  width: 100%;
  height: 50px;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #FAFAFA;
}

.chatinput input:focus-visible {
  outline: none;
  border: 1px solid #7E98DF;
}
.chatinput button {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #7E98DF;
  color: white;
  position: absolute;
  right: 55px;
}
.chatinput button:focus {
  outline: none;
  background-color: #6582d1;
}
.profile {
  z-index: 99;
  position: absolute;
  right: 0;
  background-color: white;
  height: 100vh;
  border-top-left-radius: 10px;
  box-shadow: 2px -3px 7px 2px #c8cacf;
  width: 30%;
  border-bottom-left-radius: 10px;
  animation: slideleft 200ms ease-in-out forwards;
}
.slideright {
  z-index: 99;
  position: absolute;
  right: 0;
  background-color: white;
  height: 100vh;
  border-top-left-radius: 10px;
  box-shadow: 2px -3px 7px 2px #c8cacf;
  width: 30%;
  border-bottom-left-radius: 10px;
  animation: slidereverse 200ms ease-in-out forwards;
}
.profilesidebar {
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilesidebar img {
  margin-bottom: 20px;
  width: 80%;
}

@keyframes slideleft {
  0%{
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slidereverse {
  0%{
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
    visibility: hidden;
  }
}

@media screen and (max-width : 700px) {
  .headchat h5 {
    font-size: 14px;
  }
}